<p-tabView styleClass="tabview-custom" >
    <p-tabPanel>
        <ng-template pTemplate="header">
            <i class="pi pi-calendar mr-1"></i>
            <span>Producao</span>
        </ng-template>
        <app-list-producao></app-list-producao>
    </p-tabPanel>
    <p-tabPanel header="Tipos de Materiais">
        <ng-template pTemplate="header">
            <i class="pi pi-calendar mr-1"></i>
            <span>Estoque Produtos</span>
        </ng-template>
        <app-produtos-estoque></app-produtos-estoque>
    </p-tabPanel>

    <p-tabPanel header="Tipos de Produtos">
        <ng-template pTemplate="header">
            <i class="pi pi-calendar mr-1"></i>
            <span>Tipos de produtos</span>
        </ng-template>
        <app-tipo-produtos></app-tipo-produtos>
    </p-tabPanel>
  
</p-tabView>