
<div class="">
    <p-panel header="Tipos de produtos" >
        <div class="flex">
            <p>
                <p-button (click)="showAddtype()" class="mr-3" label="Novo Tipo de produto" icon="pi pi-plus"></p-button>
            </p>
          
        </div>
    </p-panel>
</div>


<p-table
    [value]="productItems"
    [paginator]="true"
    [rows]="5"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[10, 25, 50]"
>
    <ng-template pTemplate="header">
        <tr>
            <th style="width:10%">Codigo</th>
            <th style="width:10%">Nome</th>
            <th style="width:10%">Grandeza</th>
            <th style="width:10%; text-align: center;">Ações</th>
            <th style="width:60%"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{ product.codigo }}</td>
           <td>{{ product.nome }}</td>
           <td>{{ product.grandeza }}</td>
           <td style="text-align: center;" >
            <p-button (click)="showEdit(product)"  icon="pi pi-pencil" class="mr-2" styleClass="p-button-rounded p-button-info"></p-button>
        </td>
            <td></td>
        </tr>
    </ng-template>
 
</p-table>



<p-dialog header="Registrar tipo produto" [(visible)]="visible" [modal]="true" [style]="{ width: '40vw' }" [draggable]="true" [resizable]="true">
    <form [formGroup]="tipoProdutoForm">
        <div class="grid">
            <div class="col-12">
                <div class="flex flex-column gap-2">
                    <label htmlFor="nome">Nome</label>
                    <input formControlName="nome" pInputText id="nome" />
                </div>
            </div>
            <div class="col-6">
                <div class="flex flex-column gap-2"> 
                    <label htmlFor="grandeza">Grandeza</label>
                    <p-dropdown [style]="{ width: '100%' }"  [options]="grandezas"    formControlName="grandeza"></p-dropdown>

                </div>
            </div>

            <div class="col-6">
                <div class="flex flex-column gap-2"> 
                    <label htmlFor="codigo">codigo</label>
                    <input formControlName="codigo" pInputText id="codigo" />
                </div>
            </div>
            
    
            <div class="col-10">
                    
            </div>

            <div class="col-2">
                <p>
                    <p-button (click)="submitForm()" class="mr-3" label="Salvar"></p-button>
                </p>
            </div>
    
        </div>
    </form>
</p-dialog>