
<div class="">
    <p-panel header="Fornecedores" >
        <div class="flex">
            <p>
                <p-button (click)="showAddfornecedor()" class="mr-3" label="Novo fornecedor" icon="pi pi-plus"></p-button>
            </p>
          
        </div>
    </p-panel>
</div>


<p-table
    [value]="fornecedores"
    [paginator]="true"
    [rows]="5"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[10, 25, 50]"
>
    <ng-template pTemplate="header">
        <tr>
          
            <th style="width:10%">Nome</th>
            <th style="width:10%">Razao social</th>
            <th style="width:10%">CFP/CNPJ</th>
            <th style="width:60%"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-fornecedor>
        <tr>
           <td>{{ fornecedor.nome }}</td>
           <td>{{ fornecedor.razao_social }}</td>
           <td>{{ fornecedor.cpf_cnpj }}</td>

            <td></td>
        </tr>
    </ng-template>
 
</p-table>



<p-dialog header="Registrar fornecedor" [(visible)]="visible" [modal]="true" [style]="{ width: '40vw' }" [draggable]="true" [resizable]="true">
    <form [formGroup]="fornecedorForm">
        <div class="grid">
            <div class="col-12">
                <div class="flex flex-column gap-2">
                    <label htmlFor="razao_social">Razao Social</label>
                    <input formControlName="razao_social" pInputText id="nome" />
                </div>
            </div>
            <div class="col-6">
                <div class="flex flex-column gap-2"> 
                    <label htmlFor="nome">Nome</label>
                    <input formControlName="nome" pInputText id="nome" />
    
                </div>
            </div>

            <div class="col-6">
                <div class="flex flex-column gap-2"> 
                    <label htmlFor="cpf_cnpj">cpf/cnpj</label>
                    <input formControlName="cpf_cnpj" pInputText id="cpf_cnpj" />
                </div>
            </div>
            
    
            <div class="col-10">
                    
            </div>
            <div class="col-2">
                <p>
                    <p-button (click)="submitForm()" class="mr-3" label="Salvar"></p-button>
                </p>
            </div>
    
        </div>
    </form>
</p-dialog>