div.struct {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 60vw;
    height: 65vh;
    padding: 2%;
    margin-top: 0%;
    background-color: white;
    border-radius: 8px;
    box-shadow: 1px 1px 15px 5px rgb(230, 230, 230);
}




.circle p-chart {
    width: 250px !important;
    height: 250px !important;
}


.panel-info{
    width: 60vw;
}


.info {
    text-align: center;
    font-size: 40px;
}

