<div class="struct">
    <div class="panel-info">
        <div class="grid">
            <div class="col-4">
                <p-card header="Leite utilizado ">
                    <p class="m-0 info">
                        {{ totalLeiteProcessado  }} L
                    </p>
                </p-card> 
            </div>
            <div class="col-4">
                <p-card header="Quantidade Produzida">
                    <p  class="m-0 info">
                       0 kg
                    </p>
                </p-card>
    
            </div>
            <div class="col-4">
                <p-card header="Gastos materia prima">
                    <p class="m-0 info">
                      R$ 0
                    </p>
                    </p-card>
            </div>
           
    
        </div>
    </div>
    <div class="container ">
      
        <p-chart type="bar" [data]="basicData" [options]="basicOptions"></p-chart>
              
          
    
    </div>
</div>