<div id="mySidenav" class="sidenav">
 
    <div class="sidenav-item" routerLink="empresa" routerLinkActive="active">
        <a>
            <span class="material-icons mr-2 ml-1">home</span>
            Inicio
        </a>
    </div>
    <div class="sidenav-item" routerLink="insumos" routerLinkActive="active">
        <a>
            <span class="material-icons mr-2 ml-1">loop</span>
            Entradas
        </a>
    </div>
    <div class="sidenav-item" routerLink="usuario" routerLinkActive="active">
        <a>
            <span class="material-icons mr-2 ml-1">grid_view</span>
            Producao
        </a>
    </div>
    <div class="sidenav-item" routerLink="demanda" routerLinkActive="active">
        <a>
            <span class="material-icons mr-2 ml-1">loop</span>
            Saidas
        </a>
    </div>
    <div class="sidenav-item" routerLink="loteos" routerLinkActive="active">
        <a>
            <span class="material-icons mr-2 ml-1">
                grid_view
            </span>
            Produtos
        </a>
    </div>
    <div class="sidenav-item" routerLink="contrato" routerLinkActive="active">
        <a>
            <span class="material-icons mr-2 ml-2">group</span>
            Fornecedores
        </a>
    </div>
    <div class="sidenav-item" routerLink="contrato" routerLinkActive="active">
        <a>
            <span class="material-icons mr-2 ml-2">group</span>
            Destinações
        </a>
    </div>

</div>
