<div id="mySidenav" class="sidenav">
 
   
    <div class="sidenav-item" routerLink="insumos" routerLinkActive="active">
        <a>
            <span class="material-icons mr-2 ml-1">loop</span>
            Entradas
        </a>
    </div>
    <div class="sidenav-item" routerLink="producao" routerLinkActive="active">
        <a>
            <span class="material-icons mr-2 ml-1">grid_view</span>
            Producao
        </a>
    </div>
    <div class="sidenav-item" routerLink="saidas" routerLinkActive="active">
        <a>
            <span class="material-icons mr-2 ml-1">loop</span>
            Saidas
        </a>
    </div>

    <div class="sidenav-item" (click)="logout()">
        <!-- <img class="sidenav-icon" src="/assets/svg/service_order.svg" alt=""> -->
        <a>
            <span class="material-icons mr-2 ml-1">exit_to_app</span>
            Sair
        </a>
    </div>

</div>
