
<div class="">
    <p-panel header="Materia Prima" >
        <div class="flex">
            <p>
                <p-button (click)="showAddInsumo()" class="mr-3" label="Registrar entrada " icon="pi pi-plus"></p-button>
            </p>

            <p>
                <p-button (click)="generatePDF()" class="mr-3 "  styleClass="p-button-success" label="Gerar Relatorio " ></p-button>
            </p>
            <p *ngIf="MaterialSelect.length > 0 ">
                <p-button styleClass="p-button-success" label="Iniciar produção" icon="pi pi-plus"></p-button>
            </p>
        </div>
    </p-panel>
</div>


<p-table
    [value]="entradaFiltrada"
    [(selection)]="MaterialSelect"
    [paginator]="true"
    [rows]="10"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[10, 25, 50]"
    (selectionChange)="onSelectionChange($event)"
>
<ng-template pTemplate="caption">
    <div class="flex mouth-tab">
        <input type="month" #dataInput (change)="filtrarPorMesEAno(dataInput.value)">
        <p-button [styleClass]="active ? 'p-button-success':'p-button-secondary'" (click)="limparFiltro()">Limpar Filtro</p-button>
    </div>
</ng-template>


    <ng-template pTemplate="header">
        <tr>
            
            <th style="width:5%">Data</th>
            <th style="width:10%">Origem/Fornecedor</th>
            <th style="width:10%">Nome Material</th>
            <th style="width:10%">Quantidade</th>
            <th style="width:10%">Unidade de medida</th>
            <th style="width:20%">Valor</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-insumo>
        <tr>
                    
            <td>{{ formatToBrasiliaTimezone(insumo.created_at) }}</td>
            <td>{{ insumo.fornecedor.nome }}</td>
            <td>{{ insumo.tipo_insumo.nome }}</td>
            <td>{{ insumo.quantidade }}/{{ insumo.tipo_insumo.grandeza }}</td>
            <td>{{ insumo.tipo_insumo.grandeza }}</td>
            <td>R${{ insumo.valor }}</td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8">Nenhum item cadastrado nesta solicitação.</td>
        </tr>
    </ng-template>
</p-table>


<p-dialog header="Registrar entrada de materia prima" [(visible)]="visible" [modal]="true" [style]="{ width: '40vw' }" [draggable]="true" [resizable]="true">
    <form [formGroup]="entradaForm">
        <div class="grid">
            <div class="col-6">
                <div class="flex flex-column gap-2"> 
                    <label htmlFor="nome">Tipo Insumo</label>
                    <p-dropdown formControlName="tipo_insumo"  [style]="{width: '100%'}" [options]="insumos" optionValue="id" optionLabel="nome" ></p-dropdown>
    
                </div>
            </div>
            <div class="col-6">
                <div class="flex flex-column gap-2">
                    <label htmlFor="nome">Fornecedor</label>
                    <p-dropdown formControlName="fornecedor" [style]="{width: '100%'}"   [options]="fornecedores" optionValue="id" optionLabel="nome"></p-dropdown>
    
                </div>
            </div>
            <div class="col-6">
                <div class="flex flex-column gap-2">
                    <label htmlFor="Quantidade">Quantidade</label>
                    <p-inputNumber [style]="{width: '100%'}" formControlName="quantidade" [minFractionDigits]="3"  tinputId="minmax" mode="decimal" [min]="0" > </p-inputNumber>

                </div>
            </div>
            
            <div class="col-6">
                <div class="flex flex-column gap-2">
                    <label htmlFor="Valor">Valor</label>
                    <p-inputNumber formControlName="valor" [style]="{width: '100%'}" mode="currency"  inputId="currency-bra" currency="BRL" locale="pt-BR"> </p-inputNumber>
                </div>
            </div>
    
    
            <div class="col-10">
                    
            </div>
            <div class="col-2">
                <p>
<p-button (click)="submitForm()" class="mr-3" label="Salvar"></p-button>
                </p>
            </div>
    
        </div>
    </form>
</p-dialog>