
<div class="">
    <p-panel header="Profissionais" >
        <div class="flex">
            <p>
                <p-button (click)="showAddStaff()" class="mr-3 " label="Cadastrar Profissional" icon="pi pi-plus"></p-button>
            </p>
          
        </div>
    </p-panel>

    <div class="flex search-div">
        <input class="search" type="text" [(ngModel)]="searchString">
        <p-button  (click)="searchList()" class="btn" label="Pesquisar" ></p-button>
    </div>
    
</div>


<p-table
    [value]="staffs"
    [paginator]="true"
    [rows]="5"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[10, 25, 50]"
    selectionMode="single"
    [(selection)]="selected"
    (onRowSelect)="onRowSelect($event)"
    
>
    <ng-template pTemplate="header">
        <tr>
          
            <th >Nome</th>
            <th >CFP</th>
            <th >Empresa</th>

            <th >Cargo</th>
            <th >Situação</th>
            <th style=" text-align: center;">Ações</th>
            <th ></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-staff>
        <tr [pSelectableRow]="staff" >
           <td>{{ staff.nome }}</td>
           <td>{{ staff.cpf }}</td>
           <td>{{ staff.empresa.nome }}</td>
           <td>{{ staff.cargo.nome }}</td>
           <td>{{ staff.status.nome }} </td>

            <td style="text-align: center;">
                <p-button  (click)="updateStatus(staff)" class="mr-2" styleClass="p-button-rounded p-button-info">Atualizar Processo</p-button>
                <!-- <p-button (click)="delete(staff.id)"  icon="pi pi-trash" styleClass="p-button-rounded p-button-danger"></p-button> -->
                <!-- <p-button icon="pi pi-eye" (click)="viewStaff(staff.id)" class="ml-2" styleClass="p-button-rounded p-button-info"></p-button> -->
            </td>
            <td></td>
        </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8">Nenhum item cadastrado nesta solicitação.</td>
        </tr>
    </ng-template>
 
</p-table>



<p-dialog  header="Registrar Profissional" [(visible)]="visible" [modal]="true" [style]="{ width: '40vw' }" [draggable]="true" [resizable]="true">
    <form [formGroup]="staffForm">
        <div class="grid">
            <div class="col-12">
                <div class="flex flex-column gap-2">
                    <label htmlFor="nome">Nome</label>
                    <input formControlName="nome" pInputText id="nome" />
                </div>
            </div>
            <div class="col-6">
                <div class="flex flex-column gap-2"> 
                    <label htmlFor="cpf">CPF</label>
                    <input formControlName="cpf" pInputText id="cpf" />
    
                </div>
            </div>

            <div class="col-6">
                <div class="flex flex-column gap-2"> 
                    <label htmlFor="PIS">PIS</label>
                    <input formControlName="pis" pInputText id="pis" />
                </div>
            </div>
            
            <div class="col-6">
                <div class="flex flex-column gap-2"> 
                    <label htmlFor="contato">Telefone</label>
                    <input formControlName="contato_phone" pInputText id="contato_phone" />
                </div>
            </div>

            <div class="col-6">
                <div class="flex flex-column gap-2"> 
                    <label htmlFor="contato">E-mail</label>
                    <input formControlName="contato_email" pInputText id="contato_phone" />
                </div>
            </div>

            <div class="col-6">
                <div class="flex flex-column gap-2"> 
                    <label htmlFor="contato">Jornada</label>
                    <input formControlName="jornada" pInputText id="contato_phone" />
                </div>
            </div>

            <div class="col-6">
                <div class="flex flex-column gap-2"> 
                    <label htmlFor="contato">Data de Nascimento</label>
                    <p-calendar 
                    formControlName="dt_nascimento" 
                    [showIcon]="true" 
                    [showOnFocus]="false" 
                    inputId="buttondisplay" />
                                </div>
            </div>




            <div class="col-6">
                <div class="flex flex-column gap-2"> 
                    <label htmlFor="nome">Empresa Origem</label>
                    <p-dropdown formControlName="empresa"  [style]="{width: '100%'}" [options]="empresas" optionValue="id" optionLabel="nome" ></p-dropdown>
    
                </div>
            </div>

            <div class="col-6">
                <div class="flex flex-column gap-2"> 
                    <label htmlFor="nome">Cargo</label>
                    <p-dropdown formControlName="cargo"  [style]="{width: '100%'}" [options]="cargos" optionValue="id" optionLabel="nome" ></p-dropdown>
    
                </div>
            </div>
    

            <div class="col-6">
                <div class="flex flex-column gap-2"> 
                    <label htmlFor="nome">Turnos</label>
                    <p-dropdown formControlName="turnos"  [style]="{width: '100%'}" [options]="turnos" optionValue="id" optionLabel="nome" ></p-dropdown>
    
                </div>
            </div>
    

            <div class="col-12">
                <div class="flex flex-column gap-2"> 
                    <label htmlFor="nome">Situação Atual</label>
                    <p-dropdown formControlName="status"  [style]="{width: '100%'}" [options]="status" optionValue="id" optionLabel="nome" ></p-dropdown>
    
                </div>
            </div>
    
    
            <div class="col-10">
                    
            </div>
            <div class="col-2">
                <p>
                    <p-button (onClick)="submitForm()" class="mr-3" label="Salvar"></p-button>
                </p>
            </div>
    
        </div>
    </form>
</p-dialog>



<p-dialog  header="Atualiar Situação" [(visible)]="statusVis" [modal]="true" [style]="{ width: '40vw', height: '450px'}" [draggable]="true" [resizable]="true">
    <form [formGroup]="staffForm">
        <div class="grid">
          

            <div class="col-12">
                <div class="flex flex-column gap-2"> 
                    <label htmlFor="nome">Situação Atual</label>
                    <p-dropdown formControlName="status"  [style]="{width: '100%'}" [options]="status" optionValue="id" optionLabel="nome" ></p-dropdown>
    
                </div>
            </div>
    
    
            <div class="col-10">
                    
            </div>
            <div class="col-2">
                <p>
                    <p-button (onClick)="submitForm()" class="mr-3" label="Salvar"></p-button>
                </p>
            </div>
    
        </div>
    </form>
</p-dialog>