.items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input-number {
    width: 90px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid gray;
}