.items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.input-number {
    width: 90px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid gray;
}




.item {
    z-index: 1000000000000000000000;
    position: relative;
}


::ng-deep .p-picklist-item.cdk-drag-preview {
    z-index: 99999999999999999999999 !important;
    position: relative !important;
    
}

label{
    font-size: 12px;
}

.qnt {
    display: flex;
    flex-direction: column;
    
    input {
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid gray;
    }
}

::ng-deep .p-picklist .p-button {
    display: none !important;
}
