<p-tabView styleClass="tabview-custom" (onChange)="onTabChange($event)">
    <p-tabPanel>
        <ng-template pTemplate="header">
            <i class="pi pi-calendar mr-1"></i>
            <span>Registro de Entradas</span>
        </ng-template>
        <app-list-insumos #listInsumos></app-list-insumos>
    </p-tabPanel>
    <p-tabPanel header="Tipos de Materiais">
        <ng-template pTemplate="header">
            <i class="pi pi-calendar mr-1"></i>
            <span>Estoque</span>
        </ng-template>
        <app-list-stock-insumos  #stockInsumos></app-list-stock-insumos>
    </p-tabPanel>
    <p-tabPanel header="Tipos de Materiais">
        <ng-template pTemplate="header">
            <i class="pi pi-cog mr-1"></i>
            <span>Tipos de Materiais</span>
        </ng-template>
        <app-list-tipo-insumo #tipoInsumos></app-list-tipo-insumo>
    </p-tabPanel>
    <p-tabPanel header="Header III">
        <ng-template pTemplate="header">
            <i class="pi pi-user mr-1"></i>
            <span>Fornecedores</span>
        </ng-template>
        <app-fornecedores #fornecedores></app-fornecedores>
    </p-tabPanel>
</p-tabView>