<div class="">
    <p-panel header="Produção" >
        <div class="flex">        
            <p>
                <p-button  (click)="startProcess()"  styleClass="p-button-success" label="Iniciar produção" icon="pi pi-plus"></p-button>
            </p>
        </div>
    </p-panel>
</div>


<p-table
    [value]="producaoFiltrada"
    [paginator]="true"
    [rows]="10"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[10, 25, 50]"
    rowExpandMode="single"
    [rowHover]="true"
    dataKey="id"

>

<ng-template pTemplate="caption">
    <div class="flex mouth-tab">
        <input type="month" #dataInput (change)="filtrarPorMesEAno(dataInput.value)">
        <p-button [styleClass]="active ? 'p-button-success':'p-button-secondary'" (click)="limparFiltro()">Limpar Filtro</p-button>
    </div>
</ng-template>



    <ng-template pTemplate="header" >
        <tr >
            <th style="width: 5%"></th>
            <th style="width:5%">Data</th>
            <th style="width:10%">Qnt.Lotes</th>
            <th style="width:10%">Leite Total</th>
            <th style="width:10%">Qnt.Produzido</th>
            <th style="width:10%">Valor</th>
            <th style="width:20%">Status</th>
            <th style="width:20%">Ação</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-expanded="expanded">
        <tr class="p-selectable-row"> 
            <td style="max-width: 5px;">
                <button type="button" pButton pRipple [pRowToggler]="item"
                    class="p-button-text p-button-rounded p-button-plain"
                    [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
            </td>
            <td>{{ formatToBrasiliaTimezone(item.created_at) }}</td>
            <td>{{ item.produtos.length }}</td>
            <td>{{ getTotalLeiteProcessado(item.produtos) }}L</td>
            <td>{{ item.quantidade ? item.quantidade : 'S/N' }}</td>
            <td>{{ item.valor ? item.valor + 'R$' : 'S/N' }}</td>
            <td *ngIf="item.status == 'EA'">Em andamento</td>
            <td *ngIf="item.status == 'F'">
                Finalizado
            </td>
            <td>
                <p-button *ngIf="item.status == 'EA'" class="mr-3" (click)="distroProducts(item)" label="Finalizar"></p-button>
            </td>


        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-item>
        <tr>
            <td id="cardExpanded" colspan="8" style="background-color: #e9ecef;">
                <div class="grid">
                    
                    <div class="col-6">
                        <h1>
                            Produtos
                        </h1>
                        <p-table  styleClass="p-datatable-sm" [value]="item.produtos" >
                            <ng-template pTemplate="caption" >
                                
                            </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="col-1 text-center">Codigo</th>
                            <th class="col-1">Nome</th>
                            <th class="col-4 text-center">quantidade</th>
                            <th class="col-1 text-center">Leite Utilizado.</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr>
                            <td class="col-1 text-center">{{ item.produto.codigo }}</td>
                            <td class="col-1">{{ item.produto.nome }}</td>
                            <td class="col-4 text-center">{{ item.quantidade }}/{{ item.produto.grandeza }}</td>
                            <td class="col-1 text-center">{{ item.leite_processado }}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <tr>
                            <td colspan="4">
                                <div class="col-12 grid flex justify-content-between flex-wrap">
                                    <span><!-- Comprador: &nbsp;{{purchase.comprador}} --></span>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                         </p-table>
                    </div>
                    <div class="col-6" >
                        <h1>
                            Materia Prima
                        </h1>
                        <p-table  styleClass="p-datatable-sm"    [value]="item.insumos"                        >
                            <ng-template pTemplate="caption" >
                                
                            </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="col-1 text-center">Nome</th>
                            <th class="col-1">Quantidade</th>
                            <th class="col-4 text-center">Valor</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-insumo>
                        <tr>
                            <td class="col-1 text-center">{{ insumo.tipo_insumo.nome }}</td>
                            <td class="col-4">{{ insumo.quantidade }}/{{insumo.tipo_insumo.grandeza }}</td>
                            <td class="col-1 text-center">R$ {{ insumo.valor }}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <tr>
                            <td colspan="4">
                                <div class="col-12 grid flex justify-content-between flex-wrap">
                                    <span><!-- Comprador: &nbsp;{{purchase.comprador}} --></span>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                         </p-table>
                    </div>
                </div>
                
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8">Nenhum item cadastrado nesta solicitação.</td>
        </tr>
    </ng-template>
</p-table>


<p-dialog  [baseZIndex]="100"
header="Criar lotes de produto" [(visible)]="visible" [modal]="true" (onHide)="closeDialog()" [style]="{ width: '55vw' }" [draggable]="true" [resizable]="true">
    <p-multiSelect (onChange)="updateItem()" [options]="Estoque" [(ngModel)]="EstoqueItem" defaultLabel="Selecione mais insumos" optionLabel="tipo_insumo.nome" display="chip"></p-multiSelect>
    <form >

        <div class="grid">
                    <div class="col-12">
                        <h3>Materia prima</h3>
                        <p-table
                        [value]="EstoqueItem"
                        [paginator]="false"
                        [rows]="5"
                        [tableStyle]="{ 'min-width': '100%' }"
                        [rowsPerPageOptions]="[5, 10, 15]"
                        [scrollable]="true" 
                        scrollHeight="300px"
                        
                        >
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width:10%">Nome Material</th>
                                <th style="width:10%">Qnt.estoque</th>
                                <th style="width:10%">Quantidade</th>
    
                            </tr>
                        </ng-template>
                        
                        
                        <ng-template pTemplate="body" let-item>
                            <tr>           
                                <td>{{ item.tipo_insumo.nome }}</td>
                                <td>{{ item.quantidade_estoque }}/{{ item.tipo_insumo.grandeza}}</td>
                                <td *ngIf="item.tipo_insumo.nome != 'Leite'">
                                    <input [(ngModel)]="item.quantidade" name="quantidade"  type="number" class="input-number">/{{ item.tipo_insumo.grandeza}}
                                </td>
                            </tr>
                        </ng-template>
    
                        </p-table>
                    </div>

                 <div class="col-12">
                    <h3>Produtos</h3>
                    <p-pickList  [source]="productItems" 
                    [target]="targetItems" 
                    sourceHeader="todos os produtos" 
                    targetHeader="Produtos selecionados" 
                    [dragdrop]="true" [responsive]="true"
                    [sourceStyle]="{ height: '10rem' }" 
                    [targetStyle]="{ height: '10rem' }"
                    breakpoint="1400px" 
                    [showSourceControls]="false" [showTargetControls]="false"
                    (onMoveToTarget)="onItemMovedToTarget($event)"
                    (onMoveToSource)="onItemMovedToSource($event)"
                    >

                    <ng-template let-item pTemplate="item">
                        <div class=" item flex flex-wrap p-2 align-items-center gap-3" 
                            >
                            <div class="flex-1 flex flex-column gap-2">
                                <span class="font-bold">{{ item.nome }}</span>
                            </div>
                            <div class="qnt" *ngIf="item.isSelected">
                                <div>
                                    <label for="qnt" >Quantidade leite(Litro):</label>
                                </div>
                                <div>
                                    <input [(ngModel)]="item.leite_processado" type="number" name="quantidadeLeite">
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </p-pickList>
                 </div>
                    
    
    
            <div class="col-10">
                    
            </div>
            <div class="col-2">
                <p>
                <p-button (click)="submitProcess()"  class="mr-3" label="Salvar"></p-button>
                </p>
            </div>
    
        </div>
    </form>
</p-dialog>



<p-dialog  [baseZIndex]="100"
header="Criar lotes de produto" [(visible)]="distroProduct" [modal]="true" [style]="{ width: '55vw' }" [draggable]="true" [resizable]="true">
    <form >
        <div class="grid">
                    <div class="col-12">
                        <h3>Resultado da Produção</h3>
                        <p-table
                        [value]="productionSelect.produtos"
                        [paginator]="false"
                        [rows]="5"
                        [tableStyle]="{ 'min-width': '100%' }"
                        [rowsPerPageOptions]="[5, 10, 15]"
                        [scrollable]="true" 
                        scrollHeight="300px"
                        
                        >
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width:10%">Codigo</th>
                                <th style="width:10%">Nome</th>
                                <th style="width:20%">Quantidade</th>
                                <th style="width:50%"></th>

    
                            </tr>
                        </ng-template>
                        
                        
                        <ng-template pTemplate="body" let-item>
                            <tr>           
                                <td class="col-1 text-center">{{ item.produto.codigo }}</td>
                                <td class="col-1">{{ item.produto.nome }}</td>
                                <td class="col-4"><input [(ngModel)]="item.quantidade" name="quantidade"  type="number" class="input-number">/{{ item.produto.grandeza}}
                                </td>
                                <td>

                                </td>                              
                            </tr>
                        </ng-template>
    
                        </p-table>
                    </div>

               
                    
    
    
            <div class="col-10">
                    
            </div>
            <div class="col-2">
                <p>
                <p-button (click)="finishProcess(productionSelect)"  class="mr-3" label="Salvar"></p-button>
                </p>
            </div>
    
        </div>
    </form>
</p-dialog>


