$color-primary: #1558FF;

$font-family-iceland: "Iceland";
$font-family-teko: "Teko";
$font-family-titilium: 'Titillium Web';
$font-family-inter: "Inter";
$font-family-open_sans: "Open Sans";

$primary-font: $font-family-titilium;
$logo-font: $font-family-teko;
    
$body-font-size: 16px;
$body-font-weight:400;
$body-letter-spacing:0.5px;

$title-font-size: 36px;
$title-font-weight: 700;
    
$section-title-font-size: 28px;
$body-font-weight:600;

$text-color:#6D6D6D;
