<div class="">
    <p-panel header="Destinações" >
        <div class="flex">
            <p>
                <p-button (click)="openAdd()"  class="mr-3" label="Novo Destino" icon="pi pi-plus"></p-button>
            </p>
          
        </div>
    </p-panel>
</div>


<p-table
    [value]="destinacoes"
    [paginator]="true"
    [rows]="10"
    [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[10, 25, 50]"
    rowExpandMode="single"
    [rowHover]="true"
    dataKey="id"
>
    <ng-template pTemplate="header" >
        <tr >
            <th style="width:5%">Nome</th>
            <th style="width:95%"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-expanded="expanded">
        <tr class="p-selectable-row"> 
 
            <td>{{ item.nome }}</td>
            <td></td>
       
          
        </tr>
    </ng-template>

</p-table>



<p-dialog header="Registrar Destinação" [(visible)]="visible" [modal]="true" [style]="{ width: '40vw' }" [draggable]="true" [resizable]="true">
        <div class="grid">
            <div class="col-12">
                <div class="flex flex-column gap-2">
                    <label htmlFor="razao_social">Nome</label>
                    <input [(ngModel)]="formData.nome"  pInputText id="nome" />
                </div>
            </div>
        

            <div class="col-10">
                    
            </div>
            <div class="col-2">
                <p>
                    <p-button (click)="saveDestino()"  class="mr-3" label="Salvar"></p-button>
                </p>
            </div>
    
        </div>
</p-dialog>